# Ignore everything
*

# Allow specific files in the root directory
!pre-PKGBUILD
!PKGBUILD
!.SRCINFO
!yesplaymusic-plus.desktop
!yesplaymusic-plus.sh
!publish_script.sh
!.gitignore
!README.md
!prepare.py

# Ignore all directories
*/