# Ignore everything
*

# Allow specific files in the root directory
!pre-PKGBUILD
!yesplaymusic.desktop
!publish_script.sh
!.gitignore
!README.md
!yesplaymusic.sh
!prepare.py
# Ignore all directories
*/